@charset "UTF-8";

header {
    background-color: #0033a0;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.menu-hamburguer {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #0033a0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}
.menu-hamburguer div {
    width: 35px;
    height: 6px;
    background: white;
    margin: 6px 0;
}
.menu {
    position: fixed;
    top: 0;
    left: -275px;
    width: 275px;
    height: 100%;
    background: #0033a0;
    padding-top: 60px;
    transition: 0.3s;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}
.menu ul {
    margin-top: 60px;
    list-style: none;
    padding: 0;
}
.menu ul li {
    padding: 10px;
    text-align: center;
}
.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    background: #03850e;
    padding: 10px;
    border-radius: 5px;
}
.menu.ativo {
    left: 0;
}

footer {
    background-color: #0033a0;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
}

footer > p {
    color: white;
    text-align: center;
}

@media (max-width: 600px) {
    header {
        font-size: 18px;
        padding: 15px 10px;
    }

    .menu-hamburguer {
        top: 10px;
        left: 10px;
        padding: 8px;
    }

    .menu-hamburguer div {
        width: 25px;
        height: 4px;
        margin: 4px 0;
    }

    .menu {
        width: 220px;
        padding-top: 50px;
    }

    .menu ul li a {
        padding: 8px;
        font-size: 14px;
    }
}